<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <style>
      /* CSS styles omitted for brevity */
    </style>
  </head>
  <body>
    <h1><%= name %></h1>
    <h1><%= Subject %></h1>
    <h1><%= first_name %></h1>
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1>Success</h1>
      <p>Yoou got login yay!!!!!!</p>
    </div>
  </body>
</html>
