<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <style>
      /* CSS styles omitted for brevity */
    </style>
  </head>
  <body>
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1>order recevied !!</h1>
      <p>if you found anything stuck please reach us at <i>9510533350</i></p>
      <ul>
        with below information
        <li><%= razorpay_payment_id %></li>
        <li><%= email %></li>
      </ul>
    </div>
  </body>
</html>
