<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <title></title>

  <style type="text/css">
    @media only screen and (min-width: 620px) {
      .u-row {
        width: 600px !important;
      }
      .u-row .u-col {
        vertical-align: top;
      }
      .u-row .u-col-100 {
        width: 600px !important;
      }
    }
    
    @media (max-width: 620px) {
      .u-row-container {
        max-width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .u-row .u-col {
        min-width: 320px !important;
        max-width: 100% !important;
        display: block !important;
      }
      .u-row {
        width: calc(100% - 40px) !important;
      }
      .u-col {
        width: 100% !important;
      }
      .u-col>div {
        margin: 0 auto;
      }
    }
    
    body {
      margin: 0;
      padding: 0;
    }
    
    table,
    tr,
    td {
      vertical-align: top;
      border-collapse: collapse;
    }
    
    p {
      margin: 0;
    }
    
    .ie-container table,
    .mso-container table {
      table-layout: fixed;
    }
    
    * {
      line-height: inherit;
    }
    
    a[x-apple-data-detectors='true'] {
      color: inherit !important;
      text-decoration: none !important;
    }
    
    table,
    td {
      color: #000000;
    }
    
    #u_body a {
      color: #0000ee;
      text-decoration: underline;
    }
  </style>



  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet" type="text/css">
  <!--<![endif]-->

</head>

<body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #f9f9f9;color: #000000">
    <div>

      <h1>Congratulation..........you got login</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem illo cum accusamus eligendi beatae, numquam sed asperiores esse animi iusto error eaque laudantium facilis praesentium odit illum velit dolor aperiam, sunt doloribus nesciunt. Fugit ratione quibusdam, pariatur voluptate laboriosam aspernatur, debitis veritatis similique maxime minus aut voluptas commodi ullam cupiditate repellendus consequuntur iusto vel facilis unde necessitatibus eius assumenda repudiandae incidunt. Tenetur ipsum eligendi nulla. Nam magnam laudantium labore ipsam exercitationem eius tempora consectetur omnis eligendi ipsum dolore explicabo vitae rerum ad ut optio libero, fuga totam hic cumque quaerat, soluta asperiores iusto porro! Rerum quo, praesentium molestias animi assumenda optio laboriosam, eum totam nam dolore, a blanditiis tenetur quae doloribus? Eum qui laborum quaerat veritatis dolores quae unde dicta provident atque culpa ipsam aliquid explicabo nobis libero blanditiis, temporibus accusantium nesciunt ad doloremque deleniti sunt soluta aspernatur. Rerum accusamus hic aliquid inventore cum fugiat soluta ullam officiis est! Quasi facilis dolor, reprehenderit eum quisquam voluptate ducimus. Provident id veniam voluptate rerum aperiam accusantium, eos mollitia sunt officiis inventore tempora illo architecto dolores aliquid ab aut eligendi optio sequi quo reprehenderit nam beatae? Quis necessitatibus dolor eaque minus, perspiciatis ratione veritatis libero repellat omnis ducimus? Facere quo modi veritatis consectetur architecto pariatur mollitia dicta repellat, eos laboriosam. Rem expedita, sapiente explicabo veritatis animi ipsum deleniti totam nobis corrupti? Nesciunt similique facilis mollitia totam, voluptate doloribus?</p>
    </div>
</body>

</html>